body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 2.5px;
}

hr.subsection {
    width: 50%;
    height: 1px;
    margin: 10px auto;
    background: #000000;
    border-bottom: 1px solid rgb(0, 0, 0);
}

hr.no_limit {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background: #000000;
    border-bottom: 1px solid rgb(0, 0, 0);
}

hr {
    width: 75%;
    height: 1px;
    margin: 10px auto;
    background: #434343;
    border-bottom: 1px solid black;
}

button {
    background-color: #2d2d2d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

button:hover {
    background-color: #434343;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

code {
    background-color: #2d2d2d;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    margin-bottom: 5px;
}

.big {
    font-size: 2.5em;
}

div.left {
    text-align: left;
    margin-right: 20px;
}

div.flex {
    display: flex;
    align-items: flex-start;
}

div.text {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.image {
    margin-right: 20px;
    align-items: left;
}

.title, .desc {
    text-align: left;
}

div.right {
    text-align: right;
    margin-left: 20px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}


/* Align title and text in the middle on right of image like a wiki */
.inline-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.status-left {
    text-align: left;
    margin-left: 200px;
    margin-top: 5px;
}

/* Title Image */
div.title-image {
    background-image: url("../images/admin-terminal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    margin: 0px;
}